<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>React Admin Starter</title>
        <% if (isProduction) { %>
        <script type="text/javascript">
            (function() {
                // Inject global variables here
            })();
        </script>
        <% } %>
    </head>
    <body>
        <div id="page">
            <react-admin-starter />
        </div>
    </body>
</html>
